  .parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;   
  }
  .AddMainContainer {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .AddMainContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .AddMainContainer input[type='text'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
  }  
  .AddMainContainer input[type='submit'] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color:#00b34b;
    cursor: pointer;
  } 
  .AddMainContainer input[type='submit']:hover {
    color: black;
  }  
  .AddMainContainer input[type='text']::placeholder {
    color: #ccc;
  }  
  .AddMainContainer input[type='submit']:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }  
  .listMainContainer {
    position: relative;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  } 
  .list_Input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px;
  }  
  .list_Input p {
    margin: 0;
  }  
  .list_Input button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #0056b3;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
 }
  .list_Input button:hover {
      color: black;
  }
  .list_Input_edit input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
  }
  .list_Input_edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }  
  .list_Input_edit input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 10px;
  } 
  .list_Input_edit button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #28a745;
    cursor: pointer;
  }
  .list_Input_edit button :hover{
    color: black;
  }
  